.form {
    margin-top: 30%;
    text-align: center;
    background-color: antiquewhite;

}

body {
    background-color: antiquewhite;
    margin-top: 25%;
}

.picasso {
    display: flex;

}

/* ------------------------------------------------------ */

/* House */

.houseSquare {
    width: 500px;
    height: 500px;
    background-color: brown;

}

.door {
    width: 100px;
    height: 150px;
    background-color: darkgray;
    position: relative;
    bottom: 150px;
    left: 220px;

}
.snow {
    width: 500px;
    height:50px;
    background-color:aliceblue;
    position: relative;
    bottom: 170px;
    z-index: -1;
}



.window {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    margin: 50px;
}

.bothWindows {
    position: relative;
    display: flex;
    bottom: 650px;
    left: 50px;
}

/* ------------------------------------------------------ */

/* SNOW MAN */
.snowMan {
    margin-top: 180px;
}

.smallCircle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    margin-left: -12.5px;
}

.mediumCircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    margin-left: -25px;

}

.bigCircle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: black;
    margin-left: -50px;
}

.iceBlocks {
    display: flex;
    padding: 1px 1px 1px 1px;

}

.block {
    height: 5em;
    width: 5em;
    background-color: aqua;
    margin: 2px;
    margin-top: 450px;
    
}
.block:nth-child(even){
    background-color:darkturquoise;
}

/* ---------------------------------------------------- */

@media (max-width: 768px) {
    .iceBlocks {
        flex-direction: column;
    }

    .block {
        margin-top: 0;
    }
}

@media (max-width: 320px) {

    .house {
        width: 300px;
    }
    .door {
        left:100px;
    }

}